exportPattern("^[[:alpha:]]+")
import(stringr)
import(Hmisc)
import(ggplot2)
import(clarify)
import(tidyverse)
import(RColorBrewer)
import(gtools)
import(doParallel)
import(foreach)
import(shiny)
import(knitr)
import(rmarkdown)
import(parallel)
import(dplyr)


